<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" "description">
    <%= form.label :description %>
    <%= form.text_field :description, id: :question_description %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :question_title %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-danger'%>
  </div>
<% end %>

<style>
.field{
  padding-bottom: 2%;
}

.btn{
color: black;
}

#question_description{
  text-align: left;
  margin-right: 4%;
  background-color: #999999;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#question_title{
  text-align: left;
  background-color: #999999;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
</style>
