<ul class="top-header">
	<% if user_signed_in? %>
			<li class="top-header-li"><div class="top-header-li-a"><a class="top-header-li-a"><%= link_to'Log Out', destroy_user_session_path, method: :delete %></a></div></li>
			<li class="top-header-li"><div class="top-header-li-a"><a class="top-header-li-a"><%= link_to'Edit Profile', edit_user_registration_path %></a></div></li>
			<li class="top-header-li"><div class="top-header-li-a"><a class="top-header-li-a"><%= link_to'Sell', new_post_path %></a></div></li>
		<% else %>
			<li class="top-header-li"><div class="top-header-li-a"><a class="top-header-li-a"><%= link_to'Log In', user_session_path %></a></div></li>
			<li class="top-header-li"><div class="top-header-li-a"><a class="top-header-li-a"><%= link_to'Sign Up', new_user_registration_path %></a></div></li>
		<% end %>
</ul>


<ul class="main-header">
	<li class="main-header-li"><div class="main-header-li-a"><a><%= link_to'Gear', posts_path %></a></div></li>
	<li class="main-header-li"><div class="main-header-li-a"><a><%= link_to'About', home_about_path %></a></div></li>
	<li class="main-header-li"><div class="main-header-li-a"><a><%= link_to'Rules', home_rules_path %></a></div></li>
	<li class="main-header-li"><div class="main-header-li-a"><a><%= link_to'Q&A', user_session_path %></a></div></li>
</ul>


<style>
/* Used to change the color of links universally in the header*/
a{
	color: black;
	text-decoration: none !important;

}

/* Stylizing Used for the top header with acocount managment stuff*/
.top-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4F4F4F;
}

.top-header-li {
    float: right;
}

.logo{
	height: 50px;
}
.top-header-li-a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none !important;
    padding-right: 12px;
}

li a:hover {
    color: #111;
}

/*Main Header for Website Navigation*/
.main-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EB5757;
}

.main-header-li {
    float: left;
}

.main-header-li-a {
    display: block;
    color: black;
    text-align: center;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 28px;
}

.main-header-li-a:hover {
    color: #111;
    border-top: solid 3px black;
}

</style>