<%= form_for @post, html:{multipart: true} do|f| %>
<% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, id: :post_description %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, id: :post_name %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, id: :post_price%>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class:"form-control"%>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-danger' %>
  </div>
<% end %>

<style>
  .field{
    padding-bottom: 2%;
  }

  .btn{
  color: black; 
  }

  #post_description{
    text-align: left;
    margin-right: 3%;
    background-color: #999999;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }

  #post_name{
    text-align: left;
    background-color: #999999;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }

  #post_price{
    text-align: left;
    background-color: #999999;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }

  #post_button{
    background-color: red;
  }
</style>
